## Categorizing US counties

In [1]:
import pandas as pd

### Import county category data
Source: NCHS Urban-Rural Classification Scheme for Counties

##### The NCHS has developed a six-level urban-rural classification scheme for U.S. counties and county-equivalent entities.
1. Metropolitan counties: Large central metro counties in MSA of 1 million population that: 1) contain the entire population of the largest principal city of the MSA, or 2) are completely contained within the largest principal city of the MSA, or 3) contain at least 250,000 residents of any principal city in the MSA.
2. Large fringe metro counties in MSA of 1 million or more population that do not qualify as large central 
3. Medium metro counties in MSA of 250,000-999,999 population.
4. Small metro counties are counties in MSAs of less than 250,000 population.
5. Micropolitan counties in micropolitan statistical area
6. Noncore counties not in micropolitan statistical areas
    
##### We can farther collapse these six categories into urban, suburban, and rural:
- Urban: 1 (Large central metro)
- Suburban: 2, 3, 4 (Large fringe metro counties, medium metro, and small metro counties)
- Rural: 5 and 6 (Micropolitan counties and Noncore counties)

In [2]:
county_categories = pd.read_excel("NCHSURCodes2013.xlsx")
print(county_categories.shape)
county_categories.head()

(3149, 9)

,FIPS code,State Abr.,County name,CBSA title,CBSA 2012 pop,County 2012 pop,2013 code,2006 code,1990-based code
0,1001,AL,Autauga County,"Montgomery, AL",377149,55514,3,3,3
1,1003,AL,Baldwin County,"Daphne-Fairhope-Foley, AL",190790,190790,4,5,3
2,1005,AL,Barbour County,NaN,.,27201,6,5,5
3,1007,AL,Bibb County,"Birmingham-Hoover, AL",1136650,22597,2,2,6
4,1009,AL,Blount County,"Birmingham-Hoover, AL",1136650,57826,2,2,3

In [3]:
selected = county_categories[["FIPS code", "2013 code"]]
selected.astype({"FIPS code": "int64"})
selected.head()

   FIPS code  2013 code
0       1001          3
1       1003          4
2       1005          6
3       1007          2
4       1009          2

### Import County-level Covid Data
Source: NY Times (https://github.com/nytimes/covid-19-data)

In [4]:
url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"

covid_by_counties = pd.read_csv(url, error_bad_lines=False)

print(covid_by_counties.shape)
covid_by_counties.head()

(1180117, 6)

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

### Merging and Fixing

The first merge attempt shows that three of the counties in this dataset do not come with fips county code that identifies them. They are New York City, Kansas City, and Joplin. 

We will fill in the fips code for New York City with that of New York County because they generally refer to the same region. 

Joplin (Missouri) is a city in both Jasper and Newton County. Since both are designated by the NCHS system as small metro counties and Joplin is mostly in Jasper County, we will fill in the Joplin FIPS code with the Jasper County FIPS code.

Kansas City (Missouri) straddles the Kansas-Missouri state line. The bulk of it is in Jackson County, Missouri, but parts of it lie in Clay, Cass, and Platte Counties. We will fill in the Kansas City FIPS with that of Jackson County.

In [5]:
with_categories_left_1 = pd.merge(covid_by_counties, selected, left_on = "fips", right_on = "FIPS code", how = "left")
print(with_categories_left_1.shape)
with_categories_left_1[with_categories_left_1["fips"].isnull()].groupby("county").sum()

(1180117, 8)

               fips      cases     deaths  FIPS code  2013 code
county
Joplin          0.0     768262    14446.0        0.0        0.0
Kansas City     0.0    5941365    74495.0        0.0        0.0
New York City   0.0  126147563  8543981.0        0.0        0.0
Unknown         0.0   13669695   577563.0        0.0        0.0

In [6]:
covid_by_counties.loc[covid_by_counties["county"] == "New York City", "fips"] = 36061
covid_by_counties.loc[covid_by_counties["county"] == "Joplin", "fips"] = 29097
covid_by_counties.loc[covid_by_counties["county"] == "Kansas City", "fips"] = 29095

In [7]:
with_categories_left_2 = pd.merge(covid_by_counties, selected, left_on = "fips", right_on = "FIPS code", how = "left")
print(with_categories_left_2.shape)
with_categories_left_2[with_categories_left_2["fips"].isnull()].groupby("county").sum()

(1180117, 8)

         fips     cases    deaths  FIPS code  2013 code
county
Unknown   0.0  13669695  577563.0        0.0        0.0

In [8]:
print(with_categories_left_2[with_categories_left_2["fips"].isnull()].shape[0])
print(with_categories_left_2[with_categories_left_2["fips"].isnull()].shape[0]/with_categories_left_2.shape[0])
print(with_categories_left_2[with_categories_left_2["fips"].isnull()].groupby("state").sum().shape)
print(with_categories_left_2[with_categories_left_2["fips"].isnull() == False].groupby("state").sum().shape)

9752
0.00826358742395881
(53, 5)
(54, 5)

After fixing the fips codes above, we are only missing county information on 9257 entries in the 1118423-entry dataset. That is only 0.83% of the data. We also check to make sure all 50 states are represented in our dataset.

### Dividing into Urban, Suburban, and Rural

In [9]:
with_categories_left_2.loc[with_categories_left_2["2013 code"] == 1, "category"] = "Urban"
with_categories_left_2.loc[with_categories_left_2["2013 code"] == 2, "category"] = "Suburban"
with_categories_left_2.loc[with_categories_left_2["2013 code"] == 3, "category"] = "Suburban"
with_categories_left_2.loc[with_categories_left_2["2013 code"] == 4, "category"] = "Suburban"
with_categories_left_2.loc[with_categories_left_2["2013 code"] == 5, "category"] = "Rural"
with_categories_left_2.loc[with_categories_left_2["2013 code"] == 6, "category"] = "Rural"

In [10]:
with_categories_left_2.head()

,date,county,state,fips,cases,deaths,FIPS code,2013 code,category
0,2020-01-21,Snohomish,Washington,53061.0,1,0.0,53061.0,2.0,Suburban
1,2020-01-22,Snohomish,Washington,53061.0,1,0.0,53061.0,2.0,Suburban
2,2020-01-23,Snohomish,Washington,53061.0,1,0.0,53061.0,2.0,Suburban
3,2020-01-24,Cook,Illinois,17031.0,1,0.0,17031.0,1.0,Urban
4,2020-01-24,Snohomish,Washington,53061.0,1,0.0,53061.0,2.0,Suburban

### Import College Data

In [11]:
college_url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/colleges/colleges.csv"

covid_by_college = pd.read_csv(college_url, error_bad_lines=False)

print(covid_by_college.shape)
covid_by_college.head()

(1949, 9)

,date,state,county,city,ipeds_id,college,cases,cases_2021,notes
0,2021-02-26,Alabama,Madison,Huntsville,100654,Alabama A&M University,41,NaN,NaN
1,2021-02-26,Alabama,Montgomery,Montgomery,100724,Alabama State University,2,NaN,NaN
2,2021-02-26,Alabama,Limestone,Athens,100812,Athens State University,45,10.0,NaN
3,2021-02-26,Alabama,Lee,Auburn,100858,Auburn University,2499,324.0,NaN
4,2021-02-26,Alabama,Montgomery,Montgomery,100830,Auburn University at Montgomery,214,74.0,NaN

### Import total county cases data

In [12]:
county_total_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv'
covid_by_county_total = pd.read_csv(county_total_url, error_bad_lines=False)
print(covid_by_county_total.shape)
covid_by_county_total.head()

(3247, 10)

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2021-04-02,Autauga,Alabama,1001.0,6606,99.0,5654.0,88.0,952.0,11.0
1,2021-04-02,Baldwin,Alabama,1003.0,20519,301.0,14543.0,224.0,5976.0,77.0
2,2021-04-02,Barbour,Alabama,1005.0,2228,55.0,1241.0,36.0,987.0,19.0
3,2021-04-02,Bibb,Alabama,1007.0,2544,58.0,2057.0,35.0,487.0,23.0
4,2021-04-02,Blount,Alabama,1009.0,6455,132.0,4974.0,111.0,1481.0,21.0

### Merging and Fixing College Data with County Data

In [13]:
college_merge_with_county = covid_by_county_total.merge(covid_by_college, on = ['county','state'], how = 'outer')
college_merge_with_county = college_merge_with_county.merge(county_categories, left_on = 'fips', right_on = 'FIPS code')
college_merge_with_county = college_merge_with_county.drop(columns = ['CBSA title', '1990-based code', '2006 code', 'County name','State Abr.','FIPS code','cases_2021','notes','CBSA 2012 pop', 'date_y', 'city'])
college_merge_with_county = college_merge_with_county.rename({'cases_x': 'county_cases', 'cases_y': 'college_cases', 'date_x':'Date'}, axis=1)
college_merge_with_county['infection_rate'] = college_merge_with_county['county_cases']/college_merge_with_county['County 2012 pop']
print(college_merge_with_county.shape)

college_merge_with_county.head(50)

(4012, 16)

,Date,county,state,fips,county_cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,ipeds_id,college,college_cases,County 2012 pop,2013 code,infection_rate
0,2021-04-02,Autauga,Alabama,1001.0,6606.0,99.0,5654.0,88.0,952.0,11.0,NaN,NaN,NaN,55514,3,0.118997
1,2021-04-02,Baldwin,Alabama,1003.0,20519.0,301.0,14543.0,224.0,5976.0,77.0,NaN,NaN,NaN,190790,4,0.107548
2,2021-04-02,Barbour,Alabama,1005.0,2228.0,55.0,1241.0,36.0,987.0,19.0,NaN,NaN,NaN,27201,6,0.0819088
3,2021-04-02,Bibb,Alabama,1007.0,2544.0,58.0,2057.0,35.0,487.0,23.0,NaN,NaN,NaN,22597,2,0.112581
4,2021-04-02,Blount,Alabama,1009.0,6455.0,132.0,4974.0,111.0,1481.0,21.0,NaN,NaN,NaN,57826,2,0.111628
5,2021-04-02,Bullock,Alabama,1011.0,1207.0,40.0,1068.0,30.0,139.0,10.0,NaN,NaN,NaN,10474,6,0.115238
6,2021-04-02,Butler,Alabama,1013.0,2106.0,66.0,1915.0,59.0,191.0,7.0,NaN,NaN,NaN,20307,6,0.103708
7,2021-04-02,Calhoun,Alabama,1015.0,14233.0,310.0,10656.0,250.0,3577.0,60.0,101480,Jacksonville State University,229.0,117296,4,0.121343
8,2021-04-02,Chambers,Alabama,1017.0,3489.0,119.0,1734.0,77.0,1755.0,42.0,NaN,NaN,NaN,34064,5,0.102425
9,2021-04-02,Cherokee,Alabama,1019.0,1811.0,43.0,1164.0,32.0,647.0,11.0,NaN,NaN,NaN,26021,6,0.0695976
10,2021-04-02,Chilton,Alabama,1021.0,4053.0,109.0,3327.0,83.0,726.0,26.0,NaN,NaN,NaN,43819,2,0.0924941
11,2021-04-02,Choctaw,Alabama,1023.0,583.0,24.0,499.0,13.0,84.0,11.0,NaN,NaN,NaN,13633,6,0.0427639
12,2021-04-02,Clarke,Alabama,1025.0,3453.0,60.0,2468.0,45.0,985.0,15.0,NaN,NaN,NaN,25161,6,0.137236
13,2021-04-02,Clay,Alabama,1027.0,1485.0,54.0,1174.0,48.0,311.0,6.0,NaN,NaN,NaN,13435,6,0.110532
14,2021-04-02,Cleburne,Alabama,1029.0,1454.0,41.0,1289.0,33.0,165.0,8.0,NaN,NaN,NaN,14832,6,0.0980313
15,2021-04-02,Coffee,Alabama,1031.0,5388.0,111.0,3536.0,47.0,1852.0,64.0,101143,Enterprise State Community College,59.0,51252,5,0.105128
16,2021-04-02,Colbert,Alabama,1033.0,6177.0,126.0,4411.0,106.0,1766.0,20.0,NaN,NaN,NaN,54446,4,0.113452
17,2021-04-02,Conecuh,Alabama,1035.0,1086.0,27.0,827.0,24.0,259.0,3.0,NaN,NaN,NaN,12981,6,0.0836607
18,2021-04-02,Coosa,Alabama,1037.0,951.0,24.0,556.0,21.0,395.0,3.0,NaN,NaN,NaN,10966,5,0.0867226
19,2021-04-02,Covington,Alabama,1039.0,4045.0,111.0,1987.0,74.0,2058.0,37.0,101602,Lurleen B. Wallace Community College,19.0,37955,6,0.106574
20,2021-04-02,Crenshaw,Alabama,1041.0,1502.0,57.0,1101.0,49.0,401.0,8.0,NaN,NaN,NaN,14083,6,0.106653
21,2021-04-02,Cullman,Alabama,1043.0,9394.0,186.0,6394.0,124.0,3000.0,62.0,NaN,NaN,NaN,80440,5,0.116783
22,2021-04-02,Dale,Alabama,1045.0,4766.0,109.0,3162.0,86.0,1604.0,23.0,NaN,NaN,NaN,50444,5,0.094481
23,2021-04-02,Dallas,Alabama,1047.0,3513.0,149.0,2643.0,111.0,870.0,38.0,NaN,NaN,NaN,42864,5,0.0819569
24,2021-04-02,DeKalb,Alabama,1049.0,8702.0,180.0,7469.0,150.0,1233.0,30.0,NaN,NaN,NaN,71080,6,0.122425
25,2021-04-02,Elmore,Alabama,1051.0,9982.0,202.0,7357.0,162.0,2625.0,40.0,NaN,NaN,NaN,80629,3,0.123802
26,2021-04-02,Escambia,Alabama,1053.0,3864.0,74.0,2298.0,56.0,1566.0,18.0,NaN,NaN,NaN,37994,6,0.1017
27,2021-04-02,Etowah,Alabama,1055.0,13650.0,344.0,10824.0,282.0,2826.0,62.0,101240,Gadsden State Community College,67.0,104392,4,0.130757
28,2021-04-02,Fayette,Alabama,1057.0,2068.0,59.0,1677.0,43.0,391.0,16.0,NaN,NaN,NaN,16983,6,0.121769
29,2021-04-02,Franklin,Alabama,1059.0,4187.0,82.0,3400.0,68.0,787.0,14.0,NaN,NaN,NaN,31761,6,0.131828
30,2021-04-02,Geneva,Alabama,1061.0,2453.0,74.0,1541.0,37.0,912.0,37.0,NaN,NaN,NaN,26931,4,0.0910846
31,2021-04-02,Greene,Alabama,1063.0,904.0,34.0,759.0,26.0,145.0,8.0,NaN,NaN,NaN,8876,6,0.101848
32,2021-04-02,Hale,Alabama,1065.0,2167.0,73.0,1660.0,62.0,507.0,11.0,NaN,NaN,NaN,15388,4,0.140824
33,2021-04-02,Henry,Alabama,1067.0,1871.0,43.0,1075.0,26.0,796.0,17.0,NaN,NaN,NaN,17287,4,0.108232
34,2021-04-02,Houston,Alabama,1069.0,10347.0,275.0,5601.0,168.0,4746.0,107.0,10236803,Troy University Dothan,18.0,103402,4,0.100066
35,2021-04-02,Jackson,Alabama,1071.0,6738.0,107.0,5600.0,80.0,1138.0,27.0,NaN,NaN,NaN,53019,5,0.127087
36,2021-04-02,Jefferson,Alabama,1073.0,74855.0,1466.0,66814.0,1187.0,8041.0,279.0,100937,Birmingham-Southern College,252.0,660009,1,0.113415
37,2021-04-02,Jefferson,Alabama,1073.0,74855.0,1466.0,66814.0,1187.0,8041.0,279.0,101675,Miles College,0.0,660009,1,0.113415
38,2021-04-02,Jefferson,Alabama,1073.0,74855.0,1466.0,66814.0,1187.0,8041.0,279.0,102049,Samford University,596.0,660009,1,0.113415
39,2021-04-02,Jefferson,Alabama,1073.0,74855.0,1466.0,66814.0,1187.0,8041.0,279.0,100663,University of Alabama at Birmingham,2856.0,660009,1,0.113415
40,2021-04-02,Lamar,Alabama,1075.0,1392.0,33.0,1111.0,25.0,281.0,8.0,NaN,NaN,NaN,14259,6,0.0976226
41,2021-04-02,Lauderdale,Alabama,1077.0,9148.0,223.0,5797.0,179.0,3351.0,44.0,101879,University of North Alabama,683.0,92542,4,0.0988524
42,2021-04-02,Lawrence,Alabama,1079.0,2931.0,94.0,2382.0,81.0,549.0,13.0,NaN,NaN,NaN,33838,4,0.0866186
43,2021-04-02,Lee,Alabama,1081.0,15444.0,166.0,8625.0,101.0,6819.0,65.0,100858,Auburn University,2499.0,147257,4,0.104878
44,2021-04-02,Limestone,Alabama,1083.0,9761.0,146.0,8242.0,122.0,1519.0,24.0,100812,Athens State University,45.0,87654,3,0.111358
45,2021-04-02,Limestone,Alabama,1083.0,9761.0,146.0,8242.0,122.0,1519.0,24.0,101514,Calhoun Community College,128.0,87654,3,0.111358
46,2021-04-02,Lowndes,Alabama,1085.0,1363.0,53.0,1257.0,48.0,106.0,5.0,NaN,NaN,NaN,10857,3,0.125541
47,2021-04-02,Macon,Alabama,1087.0,1540.0,47.0,1215.0,37.0,325.0,10.0,102377,Tuskegee University,110.0,20535,6,0.0749939
48,2021-04-02,Madison,Alabama,1089.0,33619.0,493.0,29160.0,383.0,4459.0,110.0,100654,Alabama A&M University,41.0,343080,3,0.0979917
49,2021-04-02,Madison,Alabama,1089.0,33619.0,493.0,29160.0,383.0,4459.0,110.0,100706,University of Alabama in Huntsville,331.0,343080,3,0.0979917

### Import Mobility Data

In [14]:
mobility_data = pd.read_csv('Apple-Mobility-Data.csv', dtype={'alternative_name': 'string'})
mobility_data.head()

,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,2020-01-16,...,2021-03-20,2021-03-21,2021-03-22,2021-03-23,2021-03-24,2021-03-25,2021-03-26,2021-03-27,2021-03-28,2021-03-29
0,country/region,Albania,driving,<NA>,NaN,NaN,100.0,95.30,101.43,97.20,...,124.45,113.95,98.84,117.22,102.75,105.33,114.25,142.29,150.08,115.24
1,country/region,Albania,walking,<NA>,NaN,NaN,100.0,100.68,98.93,98.46,...,133.05,110.41,122.64,142.64,140.04,129.98,146.01,158.98,143.58,146.31
2,country/region,Argentina,driving,<NA>,NaN,NaN,100.0,97.07,102.45,111.21,...,106.11,74.13,73.24,93.80,73.71,74.27,101.48,108.56,66.71,72.20
3,country/region,Argentina,walking,<NA>,NaN,NaN,100.0,95.11,101.37,112.67,...,80.48,54.61,68.93,85.16,59.04,62.92,86.99,83.76,47.22,65.93
4,country/region,Australia,driving,AU,NaN,NaN,100.0,102.98,104.21,108.63,...,97.19,102.72,101.59,110.29,115.88,125.08,125.53,103.02,106.90,103.76

#### Filtering data
Here we filter out data from other countries and geo_types to get only US county data. We also filter that out further to separate data for driving, transit, and walking.

In [15]:
mobility_data = mobility_data[mobility_data['country'] == "United States"]
mobility_data = mobility_data[mobility_data['geo_type'] == "county"]
mobility_data = mobility_data.drop(columns=['alternative_name', 'country', 'sub-region', 'geo_type'])
driving_data = mobility_data[mobility_data['transportation_type'] == "driving"]
transit_data = mobility_data[mobility_data['transportation_type'] == "transit"]
walking_data = mobility_data[mobility_data['transportation_type'] == "walking"]
driving_data.head()

,region,transportation_type,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-03-20,2021-03-21,2021-03-22,2021-03-23,2021-03-24,2021-03-25,2021-03-26,2021-03-27,2021-03-28,2021-03-29
2053,Abbeville County,driving,100.0,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,213.04,149.37,179.66,169.14,183.80,184.92,200.91,199.09,146.70,177.21
2054,Acadia Parish,driving,100.0,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,228.85,178.33,164.56,154.64,157.82,177.03,209.16,199.36,146.89,164.88
2055,Accomack County,driving,100.0,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,178.99,170.18,158.46,142.84,141.12,164.56,213.02,231.30,188.52,192.25
2056,Ada County,driving,100.0,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,171.82,122.79,141.04,145.35,145.06,148.28,169.82,159.18,119.54,140.01
2058,Adair County,driving,100.0,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,191.22,141.90,136.23,161.21,155.23,144.53,206.38,188.03,130.25,149.88

In [16]:
driving_data['average_mobility'] = driving_data.mean(axis=1, numeric_only=True)
driving_data = driving_data.filter(['region', 'average_mobility'])

<ipython-input-16-59b06e0d6d7b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  driving_data['average_mobility'] = driving_data.mean(axis=1, numeric_only=True)

#### Merging driving data with counties + colleges

In [17]:
driving_data['region'] = driving_data['region'].map(lambda x: x.lstrip('County').rstrip())
college_county_with_driving = college_merge_with_county.merge(driving_data, left_on='county', right_on='region', how='left')

In [18]:
college_county_with_driving.head(50)

,Date,county,state,fips,county_cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,ipeds_id,college,college_cases,County 2012 pop,2013 code,infection_rate,region,average_mobility
0,2021-04-02,Autauga,Alabama,1001.0,6606.0,99.0,5654.0,88.0,952.0,11.0,NaN,NaN,NaN,55514,3,0.118997,NaN,NaN
1,2021-04-02,Baldwin,Alabama,1003.0,20519.0,301.0,14543.0,224.0,5976.0,77.0,NaN,NaN,NaN,190790,4,0.107548,NaN,NaN
2,2021-04-02,Barbour,Alabama,1005.0,2228.0,55.0,1241.0,36.0,987.0,19.0,NaN,NaN,NaN,27201,6,0.0819088,NaN,NaN
3,2021-04-02,Bibb,Alabama,1007.0,2544.0,58.0,2057.0,35.0,487.0,23.0,NaN,NaN,NaN,22597,2,0.112581,NaN,NaN
4,2021-04-02,Blount,Alabama,1009.0,6455.0,132.0,4974.0,111.0,1481.0,21.0,NaN,NaN,NaN,57826,2,0.111628,NaN,NaN
5,2021-04-02,Bullock,Alabama,1011.0,1207.0,40.0,1068.0,30.0,139.0,10.0,NaN,NaN,NaN,10474,6,0.115238,NaN,NaN
6,2021-04-02,Butler,Alabama,1013.0,2106.0,66.0,1915.0,59.0,191.0,7.0,NaN,NaN,NaN,20307,6,0.103708,NaN,NaN
7,2021-04-02,Calhoun,Alabama,1015.0,14233.0,310.0,10656.0,250.0,3577.0,60.0,101480,Jacksonville State University,229.0,117296,4,0.121343,NaN,NaN
8,2021-04-02,Chambers,Alabama,1017.0,3489.0,119.0,1734.0,77.0,1755.0,42.0,NaN,NaN,NaN,34064,5,0.102425,NaN,NaN
9,2021-04-02,Cherokee,Alabama,1019.0,1811.0,43.0,1164.0,32.0,647.0,11.0,NaN,NaN,NaN,26021,6,0.0695976,NaN,NaN
10,2021-04-02,Chilton,Alabama,1021.0,4053.0,109.0,3327.0,83.0,726.0,26.0,NaN,NaN,NaN,43819,2,0.0924941,NaN,NaN
11,2021-04-02,Choctaw,Alabama,1023.0,583.0,24.0,499.0,13.0,84.0,11.0,NaN,NaN,NaN,13633,6,0.0427639,NaN,NaN
12,2021-04-02,Clarke,Alabama,1025.0,3453.0,60.0,2468.0,45.0,985.0,15.0,NaN,NaN,NaN,25161,6,0.137236,NaN,NaN
13,2021-04-02,Clay,Alabama,1027.0,1485.0,54.0,1174.0,48.0,311.0,6.0,NaN,NaN,NaN,13435,6,0.110532,NaN,NaN
14,2021-04-02,Cleburne,Alabama,1029.0,1454.0,41.0,1289.0,33.0,165.0,8.0,NaN,NaN,NaN,14832,6,0.0980313,NaN,NaN
15,2021-04-02,Coffee,Alabama,1031.0,5388.0,111.0,3536.0,47.0,1852.0,64.0,101143,Enterprise State Community College,59.0,51252,5,0.105128,NaN,NaN
16,2021-04-02,Colbert,Alabama,1033.0,6177.0,126.0,4411.0,106.0,1766.0,20.0,NaN,NaN,NaN,54446,4,0.113452,NaN,NaN
17,2021-04-02,Conecuh,Alabama,1035.0,1086.0,27.0,827.0,24.0,259.0,3.0,NaN,NaN,NaN,12981,6,0.0836607,NaN,NaN
18,2021-04-02,Coosa,Alabama,1037.0,951.0,24.0,556.0,21.0,395.0,3.0,NaN,NaN,NaN,10966,5,0.0867226,NaN,NaN
19,2021-04-02,Covington,Alabama,1039.0,4045.0,111.0,1987.0,74.0,2058.0,37.0,101602,Lurleen B. Wallace Community College,19.0,37955,6,0.106574,NaN,NaN
20,2021-04-02,Crenshaw,Alabama,1041.0,1502.0,57.0,1101.0,49.0,401.0,8.0,NaN,NaN,NaN,14083,6,0.106653,NaN,NaN
21,2021-04-02,Cullman,Alabama,1043.0,9394.0,186.0,6394.0,124.0,3000.0,62.0,NaN,NaN,NaN,80440,5,0.116783,NaN,NaN
22,2021-04-02,Dale,Alabama,1045.0,4766.0,109.0,3162.0,86.0,1604.0,23.0,NaN,NaN,NaN,50444,5,0.094481,NaN,NaN
23,2021-04-02,Dallas,Alabama,1047.0,3513.0,149.0,2643.0,111.0,870.0,38.0,NaN,NaN,NaN,42864,5,0.0819569,NaN,NaN
24,2021-04-02,DeKalb,Alabama,1049.0,8702.0,180.0,7469.0,150.0,1233.0,30.0,NaN,NaN,NaN,71080,6,0.122425,NaN,NaN
25,2021-04-02,Elmore,Alabama,1051.0,9982.0,202.0,7357.0,162.0,2625.0,40.0,NaN,NaN,NaN,80629,3,0.123802,NaN,NaN
26,2021-04-02,Escambia,Alabama,1053.0,3864.0,74.0,2298.0,56.0,1566.0,18.0,NaN,NaN,NaN,37994,6,0.1017,NaN,NaN
27,2021-04-02,Etowah,Alabama,1055.0,13650.0,344.0,10824.0,282.0,2826.0,62.0,101240,Gadsden State Community College,67.0,104392,4,0.130757,NaN,NaN
28,2021-04-02,Fayette,Alabama,1057.0,2068.0,59.0,1677.0,43.0,391.0,16.0,NaN,NaN,NaN,16983,6,0.121769,NaN,NaN
29,2021-04-02,Franklin,Alabama,1059.0,4187.0,82.0,3400.0,68.0,787.0,14.0,NaN,NaN,NaN,31761,6,0.131828,NaN,NaN
30,2021-04-02,Geneva,Alabama,1061.0,2453.0,74.0,1541.0,37.0,912.0,37.0,NaN,NaN,NaN,26931,4,0.0910846,NaN,NaN
31,2021-04-02,Greene,Alabama,1063.0,904.0,34.0,759.0,26.0,145.0,8.0,NaN,NaN,NaN,8876,6,0.101848,NaN,NaN
32,2021-04-02,Hale,Alabama,1065.0,2167.0,73.0,1660.0,62.0,507.0,11.0,NaN,NaN,NaN,15388,4,0.140824,NaN,NaN
33,2021-04-02,Henry,Alabama,1067.0,1871.0,43.0,1075.0,26.0,796.0,17.0,NaN,NaN,NaN,17287,4,0.108232,NaN,NaN
34,2021-04-02,Houston,Alabama,1069.0,10347.0,275.0,5601.0,168.0,4746.0,107.0,10236803,Troy University Dothan,18.0,103402,4,0.100066,NaN,NaN
35,2021-04-02,Jackson,Alabama,1071.0,6738.0,107.0,5600.0,80.0,1138.0,27.0,NaN,NaN,NaN,53019,5,0.127087,NaN,NaN
36,2021-04-02,Jefferson,Alabama,1073.0,74855.0,1466.0,66814.0,1187.0,8041.0,279.0,100937,Birmingham-Southern College,252.0,660009,1,0.113415,NaN,NaN
37,2021-04-02,Jefferson,Alabama,1073.0,74855.0,1466.0,66814.0,1187.0,8041.0,279.0,101675,Miles College,0.0,660009,1,0.113415,NaN,NaN
38,2021-04-02,Jefferson,Alabama,1073.0,74855.0,1466.0,66814.0,1187.0,8041.0,279.0,102049,Samford University,596.0,660009,1,0.113415,NaN,NaN
39,2021-04-02,Jefferson,Alabama,1073.0,74855.0,1466.0,66814.0,1187.0,8041.0,279.0,100663,University of Alabama at Birmingham,2856.0,660009,1,0.113415,NaN,NaN
40,2021-04-02,Lamar,Alabama,1075.0,1392.0,33.0,1111.0,25.0,281.0,8.0,NaN,NaN,NaN,14259,6,0.0976226,NaN,NaN
41,2021-04-02,Lauderdale,Alabama,1077.0,9148.0,223.0,5797.0,179.0,3351.0,44.0,101879,University of North Alabama,683.0,92542,4,0.0988524,NaN,NaN
42,2021-04-02,Lawrence,Alabama,1079.0,2931.0,94.0,2382.0,81.0,549.0,13.0,NaN,NaN,NaN,33838,4,0.0866186,NaN,NaN
43,2021-04-02,Lee,Alabama,1081.0,15444.0,166.0,8625.0,101.0,6819.0,65.0,100858,Auburn University,2499.0,147257,4,0.104878,NaN,NaN
44,2021-04-02,Limestone,Alabama,1083.0,9761.0,146.0,8242.0,122.0,1519.0,24.0,100812,Athens State University,45.0,87654,3,0.111358,NaN,NaN
45,2021-04-02,Limestone,Alabama,1083.0,9761.0,146.0,8242.0,122.0,1519.0,24.0,101514,Calhoun Community College,128.0,87654,3,0.111358,NaN,NaN
46,2021-04-02,Lowndes,Alabama,1085.0,1363.0,53.0,1257.0,48.0,106.0,5.0,NaN,NaN,NaN,10857,3,0.125541,NaN,NaN
47,2021-04-02,Macon,Alabama,1087.0,1540.0,47.0,1215.0,37.0,325.0,10.0,102377,Tuskegee University,110.0,20535,6,0.0749939,NaN,NaN
48,2021-04-02,Madison,Alabama,1089.0,33619.0,493.0,29160.0,383.0,4459.0,110.0,100654,Alabama A&M University,41.0,343080,3,0.0979917,NaN,NaN
49,2021-04-02,Madison,Alabama,1089.0,33619.0,493.0,29160.0,383.0,4459.0,110.0,100706,University of Alabama in Huntsville,331.0,343080,3,0.0979917,NaN,NaN